/*顶部导航*/
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #393D49;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.header-logo {
    height: 60px;
}
.header-nav {
    position: absolute;
    top: 0;
    right: 20px;
}
.header-nav ul {
    height: 60px;
    line-height: 60px;
    font-size: 0;
}
.header-nav li {
    display: inline-block;
}
.header-nav a {
    display: block;
    color: #e2e2e2;
    padding: 0 20px;
    position: relative;
    font-size: 14px;
    transition: color 0.3s;
}
.header-nav a:hover, .header-nav .header-nav-on a {
    color: #fff;
}
.header-nav a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-bottom: 5px solid #5FB878;
    transition: width 0.3s;
}
.header-nav a:hover::after, .header-nav .header-nav-on a::after {
    width: 100%;
}

/*侧边菜单*/
.aside {
    position: fixed;
    top: 60px;
    bottom: 0;
    width: 200px;
    overflow-y: scroll;
    z-index: 998;
}
.aside .layui-collapse {
    border: none;
}
.aside .layui-colla-content {
    padding: 0;
}
.aside .layui-colla-content li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.aside .layui-colla-content li a {
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    display: block;
}

/*内容容器*/
.container {
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 200px;
    right: 0;
    overflow-y: auto;
    padding: 10px;
    z-index: 996;
}

/*页脚*/
.footer {
    position: fixed;
    bottom: 0;
    left: 200px;
    right: 0;
    z-index: 997;
    text-align: center;
    background-color: #eee;
    padding: 6px;
}
.footer p {
    height: 24px;
    line-height: 24px;
    font-size: 13px;
}
.footer a {
    color: #009688;
}